<div id="mySidenav" class="sidenav">
  <div class="nav-logoo">
     <img src="content/img/logoo_blanka.png" alt="logoo">
  </div>
  <a href="javascript:o(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <label class="menutitolo">Bazaj agordoj</label>
    <a href="#!/admin" class="menuero">Administrantoj</a>
    <a href="#!/landoj" class="menuero">Landoj</a>
    <a href="#!/perantoj" class="menuero">Perantoj</a>
  <label class="menutitolo"> Membreco</label>
    <a href="" class="menuero">Novaj membrecpetoj</a>
    <a href="#!/membrecoj" class="menuero">Kategorioj kaj Kotizoj</a>
  <label class="menutitolo"> Membroj</label>
    <a href="" class="menuero">Ĉiuj membroj</a>
    <a href="" class="menuero">Statistikoj</a>
</div>

<div class="clear"></div>
<div class="menubar">
<span class="menuo" onclick="openNav()">&#9776; Menuo</span>
  <a ng-click="elsaluti()">
    <span class="profilo">
      <i class="fa fa-power-off" aria-hidden="true"></i> Elsaluti
    </span>
  </a>
</span>

</div>
