<div class="enhavo" data-ng-init="init()">
  <div class="col-md-3">
    <h2>Profilbildo:</h2>
    <img src="{{bildo}}" alt="profilbildo" width="100%"></img>
    <br><br>
    <button
       type="file"
       class="btn btn-default"
       ngf-select
       ng-model="file"
       name="file"
       ngf-pattern="'image/*'"
       accept="image/*"
       ngf-max-size="20MB">
       Alŝulti/redakti profilbildon
     </button>
     <br><br>
    <p ng-show="file">
      Antaŭvido: <img style="width:100px;" ngf-thumbnail="file"/>
      <i ng-show="up.upload_form.file.$error.maxSize">Tro granda bildo
      {{file.size / 1000000|number:1}}MB: max 20M</i>
      <br><br>
      <button
        type="submit"
        class="btn btn-default"
        ng-click="upload()">
        Konfirmi alŝuton
      </button>
    </p>
  </div>
  <div class="col-md-9">
    <h2>Uzanta informoj:</h2>
    -------
    <p>
      <b>UEA-kodo:</b> {{uzanto.ueakodo}}
      <a href="#"
         onbeforesave="updateUzantoj($data, 'ueakodo')"
         editable-text="uzanto.ueakodo"
         e-ui-mask="AAAA-A">redakti aŭ aldoni</a>
    </p>
    <p>
      <b>Retpoŝtadreso kaj uzantnomo:</b> {{uzanto.retposxto}}
      <a href="#"
         onbeforesave="updateUzantoj($data, 'retposxto')"
         editable-email="uzanto.retposxto">
        redakti aŭ aldoni
      </a>
    </p>
    <p>
      <b>Pasvorto:</b>
      <a href="#"
         onbeforesave="updateUzantoj($data, 'pasvorto')"
         editable-password="uzanto.pasvorto">
        Ŝanĝi pasvorton
      </a>
    </p>
    -------
    <p>
      <b>Personana nomo:</b> {{uzanto.personanomo}}
      <a href="#"
         editable-text="uzanto.personanomo"
         onbeforesave="updateUzantoj($data, 'personanomo')">
         redakti aŭ aldoni
       </a>
    </p>
    <p>
      <b>Familia nomo:</b> {{uzanto.familianomo}}
      <a href="#"
         editable-text="uzanto.familianomo"
         onbeforesave="updateUzantoj($data, 'familianomo')">
         redakti aŭ aldoni
       </a>
    </p>
    <p>
      <b>Naskiĝtago (JJJJ-MM-TT):</b> {{uzanto.naskigxtago}}
      <a href="#"
         editable-text="uzanto.naskigxtago"
         onbeforesave="updateUzantoj($data, 'naskigxtago')">
        redakti aŭ aldoni
      </a>
    </p>
    <p>
      <b>titolo:</b> {{uzanto.titolo}}
      <a href="#"
         onbeforesave="updateUzantoj($data, 'titolo')"
         editable-select="uzanto.titolo"
         e-ng-options="s as s for s in titoloj">
        redakti aŭ aldoni
      </a>
    </p>
    <p>
      <b>Adreso:</b> {{uzanto.adreso}}
      <a href="#"
         onbeforesave="updateUzantoj($data, 'adreso')"
         editable-textarea="uzanto.adreso">
        redakti aŭ aldoni
      </a>
    </p>
    <p>
      <b>Poŝtkodo:</b> {{uzanto.posxtkodo}}
      <a href="#"
         onbeforesave="updateUzantoj($data, 'posxtkodo')"
         editable-text="uzanto.posxtkodo">
        redakti aŭ aldoni
      </a>
    </p>
    <p>
      <b>Lando: </b> {{uzanto.radikoEo + uzanto.finajxoEo}}
      <a href="#"
         onbeforesave="updateUzantoj($data, 'idLando')"
         editable-select="uzanto.titolo"
         e-ng-options="l.id as l.radikoEo + l.finajxoEo for l in landoj">
         redakti aŭ aldoni
      </a>
    </p>
    <p>
      <b>Notoj:</b> {{uzanto.notoj}}
      <a href="#"
         onbeforesave="updateUzantoj($data, 'notoj')"
         editable-textarea="uzanto.notoj"
         e-rows="7" e-cols="40">
        redakti aŭ aldoni
      </a>
    </p>
 </div>
</div>
