<div class="enhavo" data-ng-init="init()">
  <h1>
    Landoj en la sistemo
  </h1>

  <h2>
    <a href="#!/landoj" ng-click="novaL = !novaL" ng-init="novaL = true">
      + Aldoni novan landon
    </a>
  </h2>

  <!--formularo por aldoni novan landon-->
  <form ng-submit="novaLando()" ng-hide="novaL" class="form-inline">
    {{status}}
    <div class="form-group">
      <label for="radiko">Radiko en esperanto (ekz: Brit)</label>
      <input type="text"
             id="radiko"
             ng-model="lando.radikoEo"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="finajxo">Finaĵo en esperanto (ekz: "io" aŭ "o")</label>
      <input type="text"
             id="finajxo"
             ng-model="lando.finajxoEo"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="landkodo">2-litera Landkodo (ekz. GB)</label>
      <input type="text"
             id="landkodo"
             ng-model="lando.landkodo"
             maxlength="2"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="nomoLoka">Nomo en loka lingvo (ekz: Great Britain)</label>
      <input type="text"
             id="nomoLoka"
             ng-model="lando.nomoLoka"
             class="form-control">
    </div>
    <button id="submit" type="submit" class="btn btn-primary col-sm-12">Aldoni</button>
  </form>

  <!--Tabelo kun enhavo-->
  <table class="table">
    <thead>
      <tr>
        <td>Radiko en Esperanto</td>
        <td>Finaĵo en Esperanto</td>
        <td>Nomo en loka lingvo</td>
        <td>Landkodo</td>
      </tr>
    </thead>
    <tr ng-repeat="l in landoj | orderBy:'radikoEo'">
      <td>
        <a href="#"
           editable-text="l.radikoEo"
           onbeforesave="updateLando(l.id, $data, 'radikoEo')">
              {{l.radikoEo}}
        </a>
      </td>
      <td>
        <a href="#"
           editable-text="l.finajxoEo"
           onbeforesave="updateLando(l.id, $data, 'finajxoEo')">
           {{l.finajxoEo}}
         </a>
       </td>
      <td>
        <a href="#"
           editable-text="l.nomoLoka"
           onbeforesave="updateLando(l.id, $data, 'nomoLoka')">
           {{l.nomoLoka}}
         </a>
       </td>
      <td>
        <a href="#"
           editable-text="l.landkodo"
           onbeforesave="updateLando(l.id, $data, 'landKodo')">
           {{l.landkodo}}
         </a>
       </td>
      <td>
        <a href="" ng-click="deleteLando(l.id)">
          <i class="fa fa-trash" aria-hidden="true"></i> Forviŝi
        </a>
      </td>
    </tr>
  </table>
  <p>* klaku en la kampoj por redakti</p>

</div>
