<div class="enhavo" data-ng-init="init1()">
  <h3>Elektu kategorion por vidi ĝiajn membrojn</h3>
  <table  class="table table-striped">
    <thead>
      <tr>
        <td>
          Nomo de la kategorio
        </td>
        <td>
          Priskribo
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="grupo in grupoj">
        <td>
          <b ng-if="grupo.mallongigilo">{{grupo.mallongigilo}}</b> 
          {{grupo.nomo}}
          <a href="#!/membroj/{{grupo.id}}">Vidi membrojn >></a>
        </td>
        <td>
          {{grupo.priskribo}}
        </td>
      </tr>
    </tbody>
  </table>

</div>
