<div class="enhavo" data-ng-init="init2()">
    <label>Serĉi:
      <input class="form-control" ng-model="filtrilo">
    </label>
    <p>Entute trovita {{query.length}}</p>
    <table class="table">
    <tdead>
      <tr>
        <td>Homo</td>
        <td>Lando</td>
      </tr>
    </tdead>
    <tbody>
      <tr ng-repeat="membro in membroj | orderBy:'familinomo' | filter:ignoreAccents | filter: filtrilo as query ">
        <td>
          {{membro.titolo}} {{membro.personanomo}} <strong>{{membro.familianomo}}</strong>
          <a ng-if="membro.idAno" href="#!/uzantoj/{{membro.idAno}}">Vidi detalojn >></a>
          <a ng-if="!membro.idAno" href="#!/uzantoj/{{membro.id}}">Vidi detalojn >></a>
        </td>
        <td>
          {{landoj[membro.idLando]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
