<div class="container">
    <h1>Printu adreson de membroj</h1>
    <div class="container">
    	<div id="select-grupo">
    		<h3 style="display:inline-block">Grupo de membroj</h2>
    		<select class="selectpicker" style="display:inline-block">
  				<option>Mustard</option>
  				<option>Ketchup</option>
  				<option>Relish</option>
			</select>
    	</div>
    	<div>
	    	<div id="select-fields" style="display:inline-block;">
	    		<h3>Kampoj</h3>
				<div class="checkbox" ng-repeat="field in checkboxFields">
					<label><input type="checkbox" value="">{{field.name}}</label>
				</div>
	    	</div>
	    	<div id="printejo-info-box" class="container">
	    	</div>
    	</div>
    </div>
</div>