<md-dialog style="width: auto" flex="30">
    <md-toolbar class="md-toolbar-tools">
        <h2>Aldoni novan volumon</h2>
        <span flex></span>
        <a href="" ng-click="cancel()">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </a>
    </md-toolbar>
    <md-content class="md-padding">
        <md-input-container class="md-block" flex="50">
            <label>Numero relative al jaro:</label>
            <input name="jaro" ng-model="volumon.numeroJaro" type="number"/>
        </md-input-container>

        <hr>

        <md-input-container class="md-block" flex="50">
            <label>Entuta numero:</label>
            <input name="entute" ng-model="volumon.numeroEntute" type="number"/>
        </md-input-container>

        <hr>

        <trix-editor placeholder="Enhavlisto" id="trix"></trix-editor>

        <hr>


    </md-content>

    <md-dialog-actions layout-align="end">
        <span flex></span>
        <md-button ng-click="addVolumon()" type="submit">
            Aldoni Volumon
        </md-button>
    </md-dialog-actions>
</md-dialog>