<div class="enhavo">
    <div class="col-md-4" style="align:center">
        <h2>Krovilbildo:</h2>
        <img ngf-thumbnail="file ? file: bildo" alt="profilbildo" class="profilbildo"/>
        <br>
        <button ng-show="!file"
                type="file"
                class="btn btn-default"
                ngf-select
                ng-model="file"
                name="file"
                ngf-pattern="'image/*'"
                accept="image/*"
                ngf-max-size="20MB">
            Redakti aŭ aldoni krovilbildo
        </button>


        <p ng-show="file">
            <button ng-click="cancel()" class="btn btn-danger" ng-show="!bildoprogressPercentage">
                Nuligi
            </button>
            <button ng-show="!bildoprogressPercentage"
                    type="submit"
                    class="btn btn-default"
                    ng-click="upload()">
                Konfirmi alŝuton
            </button>
            <p ng-show="bildoprogressPercentage">Alŝutas: {{bildoprogressPercentage}}%</p>

        </p>
    </div>
    <div class="col-md-8">
        <h2>Pri la volumo</h2>
        <p>
            <audio controls src="{{mp3Dosiero}}">
            </audio>
            <p>
                <a href=""
                   type="file"
                   ngf-select
                   ng-model="mySong"
                   name="mySong"
                   ngf-max-size="25MB" style="padding-top: -35px">
                    redakti aŭ aldoni mp3 dosiero
                </a>
                <button class="btn btn-default" ng-show="mySong && !mp3progressPercentage" ng-click="updateMp3Dosiero()">konfirmi</button>
                <p ng-show="mp3progressPercentage">Alŝutas: {{mp3progressPercentage}}%</p>
            </p>
        </p>
        <p>
            <b>Numero relative al jaro (ekzemple, "2" - sen citiloj- por la dua numero de 2018):</b> {{volumon.numeroJaro}}
            <a href="#"
               onbeforesave="updateVolumon($data, 'numeroJaro')"
               editable-number="volumon.numeroJaro">redakti aŭ aldoni</a>
        </p>
        <p>
            <b>Numero entute (ekzemple, "1934" -sen citiloj- por la 1934-a revuo Esperanto):</b> {{volumon.numeroEntute}}
            <a href="#"
               onbeforesave="updateVolumon($data, 'numeroEntute')"
               editable-number="volumon.numeroEntute">
                redakti aŭ aldoni
            </a>
        </p>
        <p>
            <b>Eldondato:</b> {{volumon.eldondato | date}}
            <a href="#"
               onbeforesave="updateVolumon($data, 'eldondato')"
               editable-date="volumon.eldondato"
            >
                redakti aŭ aldoni
            </a>
        </p>
        -------

        <p>
            <b>Kvalita</b> <a href="" ng-click="downloadFile('kvalita')">elŝuti</a>
            <a href=""
                    type="file"
                    ngf-select
                    ng-model="newKvalita"
                    name="kvalita"
                    ngf-pattern=".pdf"
                    accept="pdf/*"
                    ngf-max-size="25MB">
                redakti
            </a>
            <button class="btn btn-default" ng-show="newKvalita && !kvalitaprogressPercentage" ng-click="updateKvalita()">konfirmi</button>
            <p ng-show="kvalitaprogressPercentage">Alŝutas: {{kvalitaprogressPercentage}}%</p>
            <i style="color: red" ng-show="newKvalita === null">max 25M kaj .pdf</i>
        </p>

        <p>
            <b>Malpeza</b> <a href="" ng-click="downloadFile('malpeza')">elŝuti</a>
            <a href=""
               type="file"
               ngf-select
               ng-model="newMalpeza"
               name="malpeza"
               ngf-pattern=".pdf"
               accept="pdf/*"
               ngf-max-size="25MB">
                redakti
            </a>
            <button class="btn btn-default" ng-show="newMalpeza && !malpezaprogressPercentage" ng-click="updateMalpeza()">Konfirmi</button>
            <p ng-show="malpezaprogressPercentage">Alŝutas: {{malpezaprogressPercentage}}%</p>

            <i style="color: red" ng-show="newMalpeza === null">max 25M kaj .pdf</i>
        </p>

        -------

        <p>
            <div layout="row">
                <b>Enhavlisto</b>   <a style="padding-left: 5px" href="" ng-click="editEnhavListo()">redakti aŭ aldoni</a>
            </div>

            <div id="enhavlisto" ng-show="!editEnhavListoMode"></div>
        </p>

        <p ng-show="editEnhavListoMode">
            <trix-editor class="trix-content" placeholder="Enhavlisto" id="enhavlisto-edit"></trix-editor>
            <button class="btn btn-danger" ng-click="cancelEditEnhavListo()">Rezigni</button>
            <button class="btn btn-default" ng-click="updateVolumon('undefined', 'enhavlisto')">Konfirmi</button>
        </p>
    </div>
</div>
