<div class="revuoj">
    <div class="row">
        <h1 class="col-md-5">Volumoj de la revuo {{revuonTitolo}}</h1>
        <h2 class="col-md-2" id="aldoni-revuon" ng-click="showAddVolumonDialog()">+Aldoni novan volumon</h2>
    </div>

    <p>
        <audio controls src="{{mp3Dosiero}}">
        </audio>
        <p>
            <a href=""
               type="file"
               ngf-select
               ng-model="mySong"
               name="mySong"
               ngf-max-size="25MB" style="padding-top: -35px">
                redakti aŭ aldoni mp3 dosiero
            </a>
            <button class="btn btn-default" ng-show="mySong" ng-click="updateMp3Dosiero()">okay</button>
        </p>
    </p>

    <div class="revuoj-list">
        <div class="row revuon" ng-repeat="volumon in volumoj">
            <li class="col-md-6">{{volumon.eldondato | date}}</li>
            <a class="col-md-6" href="#!/revuoj/{{revuonId}}/volumon/{{volumon.id}}">Redakti</a>
        </div>
    </div>
</div>
