<md-dialog style="width: auto" flex="50" data-ng-init="getAbonantoj()">
    <md-toolbar class="md-toolbar-tools">
        <h2>Abonantoj de {{nomo}}</h2>
        <span flex></span>
        <a href="" ng-click="cancel()">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </a>
    </md-toolbar>
    <md-content class="md-padding" flex>
        <h5>Nova Abonanto:</h5>
        <div class="row">
            <div class="form-group">
                <label>Retadreso:</label>
                <input placeholder="Retadreso"  class="form-controll"
                       type="email" ng-model="abonanto.retadreso"/>
            </div>

            <button class="btn btn-primary" ng-click="postAbonanto(abonanto)" ng-disabled="!abonanto.retadreso">Aldoni</button>
        </div>
        <div style="padding-top: 5%">
            <div class="row" style="padding-top: 2%" ng-repeat="abonanton in abonantoj" flex>
                <li class="col-md-3">
                  {{abonanton.retadreso}}
                  <a style="color: #4da6ff" href="" ng-click="removeAbonanton(abonanton.id, $index)">
                    Forviŝi abonanton
                  </a>
                </li>
            </div>
        </div>

    </md-content>
</md-dialog>
