<div data-ng-init="init()">
  <div id="mySidenav" class="sidenav">
    <div class="nav-logoo">
       <img src="content/img/logoo_blanka.png" alt="logoo"></img>
    </div>
    <a href="javascript(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <any ng-repeat="menuero in menueroj">
      <label ng-init="montri[$index] = false" class="menutitolo" ng-click="montri[$index] = !montri[$index]">
        <span ng-hide="montri[$index]">+</span>
        <span ng-show="montri[$index]">-</span>
        {{menuero[0].titolo}}
      </label><br>
      <span  ng-show="montri[$index]">
      <a ng-repeat="ligilo in menuero | limitTo: (1 - menuero.length)"
         class="menuero" href="{{ligilo.link}}">
         {{ligilo.titolo}}
      </a>
    </a>
    </any>
  </div>

  <div class="clear"></div>
  <div class="menubar">
    <span class="menuo" onclick="openNav()">&#9776; Menuo</span>
    <span class="profilo" ng-click="elsaluti()">
      <i class="fa fa-power-off" aria-hidden="true"></i> Elsaluti
    </span>
    <span class="uzantnomo"><i class="fa fa-user" aria-hidden="true"></i> {{uzanto.uzantnomo}}</span>
  </div>
</div>
