<md-dialog style="width: auto" flex="30">
    <md-toolbar class="md-toolbar-tools">
        <h2>Aldoni novan revuon</h2>
        <span flex></span>
        <a href="" ng-click="cancel()">
            <i class="fa fa-window-close" aria-hidden="true"></i>
        </a>
    </md-toolbar>
    <md-content class="md-padding">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Titolo:</label>
            <input name="titolo" ng-model="revuon.titolo" type="text"/>
        </md-input-container>

        <md-input-container>
            <label>Fondjaro:</label>
            <input name="fondjaro" ng-model="revuon.fondjaro" type="number"/>
        </md-input-container>

        <p></p>

        <md-input-container>
            <label>ISSN:</label>
            <input name="issn" ng-model="revuon.issn"/>
        </md-input-container>
    </md-content>

    <md-dialog-actions layout-align="end">
        <span flex></span>
        <md-button ng-disabled="!revuon.titolo || !revuon.fondjaro || !revuon.issn" class="md-raised" ng-click="addRevuon()" type="submit">
            Aldoni Revuon
        </md-button>
    </md-dialog-actions>
</md-dialog>